{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Resources</title>
{% endblock  %}
{% block body %}
    <h2 class="type p-2">CS Resources:</h2>
    <hr>
    <div class="row m-2">
    <div class="col-lg-4 p-2">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src='{% static 'images/bootstrap.png' %}' alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title type">Bootstrap</h5>
                <p class="card-text type">Open-source CSS framework directed at responsive web development</p>
                <a href="https://getbootstrap.com/docs/4.5/getting-started/introduction/" class="btn btn-primary">Go to Bootstrap</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 p-2">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="{% static 'images/w3school.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title type">w3school</h5>
                <p class="card-text type">A free tutorial site to help teach HTML, CSS, Bootstrap, Javascript, and jQuery.</p>
                <a href="https://www.w3schools.com/" class="btn btn-primary">Go to w3Schools</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 p-2">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="{% static 'images/brackets.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title type">Brackets</h5>
                <p class="card-text type">A source code editor for web development, Created by Adobe and that is completely free.       </p>
                <a href="http://brackets.io/" class="btn btn-primary">Go to Brackets</a>
            </div>
        </div>
    </div>
    </div>

    <div class="row m-2">
    <div class="col-lg-4 p-2">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="{% static 'images/github.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title type">GitHub</h5>
                <p class="card-text type">A web based version-control and collaboration platform for software developers</p>
                <a href="https://github.com/" class="btn btn-primary">Go to Github</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 p-2">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="{% static 'images/pycharm.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title type">Pycharm</h5>
                <p class="card-text type">An integrated development environment used in computer programming, specifically Python.</p>
                <a href="https://www.jetbrains.com/pycharm/" class="btn btn-primary">Go to Pycharm</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 p-2">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="{% static 'images/eclipse.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title type">Eclipse</h5>
                <p class="card-text type">An integrated development environment used in computer programming, specifically Java.</p>
                <a href="https://www.eclipse.org/downloads/" class="btn btn-primary">Go to Eclipse</a>
            </div>
        </div>
    </div>
    </div>


{% endblock %}